@import "tailwindcss";

@theme {
  --color-surface: #10131a;
  --color-surface-container-lowest: #0b0e15;
  --color-surface-container-low: #191b23;
  --color-surface-container: #1d1f27;
  --color-surface-container-high: #272a32;
  --color-surface-container-highest: #32353d;
  --color-surface-bright: #363941;
  --color-primary: #4cd7f6;
  --color-primary-container: #06b6d4;
  --color-on-primary: #003640;
  --color-on-primary-container: #00424f;
  --color-secondary: #d0bcff;
  --color-secondary-container: #571bc1;
  --color-on-secondary: #3c0091;
  --color-on-secondary-container: #c4abff;
  --color-tertiary: #2fd9f4;
  --color-tertiary-container: #00b7cf;
  --color-on-surface: #e1e2ec;
  --color-on-surface-variant: #bcc9cd;
  --color-outline: #869397;
  --color-outline-variant: #3d494c;
  --color-background: #10131a;

  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "Inter", sans-serif;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #10131a;
}
::-webkit-scrollbar-thumb {
  background: #272a32;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3d494c;
}

